*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--txt-dark);
}

input{
    border: none;
    outline: none;
}
img{
    width: 300px;
    height: 300px;
}

button{
    border: none;
    background: none;
    font-family: var(--font-Open-sans);
    cursor: pointer;
}

button:disabled{
    cursor: progress;
    opacity: 0.8;
}
